<div class="max-w-7xl mx-auto py-4 px-4">
  <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-8">
    @for (city of cities; track $index) {
    <div class="bg-white shadow-md rounded-lg">
      <div class="p-4 flex justify-end space-x-2">
        <button class="bg-blue-500 p-2 rounded-lg hover:bg-blue-600">
          <img src="icons/pencil.svg" alt="Update" class="w-6 h-6" />
        </button>

        <button
          class="bg-red-500 p-2 rounded-lg hover:bg-red-600"
          (click)="deleteCity(city.id)"
        >
          <img src="icons/delete.svg" alt="Delete" class="w-6 h-6" />
        </button>
      </div>
      <div class="p-4">
        <h2 class="text-xl font-semibold mb-2 text-center">
          {{ city.name }}
        </h2>
      </div>
    </div>
    }
  </div>
</div>
